body{
    background-color: #F5F5F5;
}
#playbody{
    background-color: rgb(146, 197, 146);
}

#tituloindex{
    text-align: center;
    margin-top: 25px;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.contenedorcards{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    color: #000;
    background-color: #00D5FF;
    margin: 20px;
}

.card-body{
    width: 100%;
}

.inputpersonaje{
    color: #000;
    background-color: #05060f0a;
    border-radius: 0.5rem;
    border: 2px solid #05060f0a;
    font-size: 1em;
    margin-bottom: 15px;
}

.submitpersonajes{
    color: #F5F5F5;
    border-radius: 5px;
    background-color: #000;
}

.submitpersonajes:hover{
    background-color: #402f68;
    transition: 0.2s ease;
}


